*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.Container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 95%;
    margin: auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    display: block;
}

form input, text area, select{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    padding: 15px;
    background: tomato;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

img{
    display: block;
    height: 120px ;
    width: 200px;
    margin: 0 auto;
}